/* :D

*/
.jm-img {
    max-height: 80px;
    width: auto;
}

.jm-zindex {
    z-index: 10000000 !important;
}

.jm-shadow {
    box-shadow: inset 0 0 30px rgba(0,0,0,0.15);
}

.jm-small {
    font-size: small;
}